<div class="w-full flex justify-center items-center text-white my-6">
    <div class="w-5/6 mx-6 rounded-md bo-grad-y-gray-300">
        <div class="card w-full pt-4 pb-0 rounded-md dark:bg-zinc-900 ">
            <div class="card-header w-full flex flex-col justify-center">
                <div class="flex justify-center">
                    <div class="image-rounded">
                        <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 18">
                            <path
                                d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
                        </svg>
                    </div>
                </div>
                <div class="text-center">
                    hora
                </div>
            </div>
            <div class="card-body my-2">
                <div class="flex justify-center">
                    <div class="track-check">
                        &#10004;
                    </div>
                    <div class="mx-2">
                        status
                    </div>
                </div>
            </div>
            <div class="bo-grad-x-gray-700 rounded-md w-full p-t-2">
                <button type="button" disabled
                    class="rounded-md w-full bg-zinc-900 text-center text-gray-600">Track
                    Order</button>
            </div>
        </div>
    </div>
</div>