<!-- start buscador -->
<div class="content">
    <div class="bg-white border-gray-200 dark:bg-gray-950">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex justify-center items-center">
                <div class="w-full relative mb-6">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" id="input-group-1"
                        class="bg-gray-50 border-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-950 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-300 dark:focus:border-yellow-300"
                        placeholder="Search..." #searchQuery (input)="search(searchQuery.value)">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end buscador -->
<div class="px-2">
    <div class="flex flex-col justify-center items-center">
        <div class="card pt-4 px-2 w-full" *ngFor="let order of orders">
            <div class="flex">
                <h5 class="mx-2 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Order: </h5>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{order._id}}
                </h5>
            </div>
            <div
                class="w-full pt-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-zinc-900 dark:border-zinc-800">
                <div class="card-header text-base flex justify-between px-6">
                    <div class="flex column-6">
                        <svg class="w-6 h-6 mx-2 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15.5 10.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Zm0 0a2.225 2.225 0 0 0-1.666.75H12m3.5-.75a2.225 2.225 0 0 1 1.666.75H19V7m-7 4V3h5l2 4m-7 4H6.166a2.225 2.225 0 0 0-1.666-.75M12 11V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v9h1.834a2.225 2.225 0 0 1 1.666-.75M19 7h-6m-8.5 3.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
                        </svg>
                        <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{order.type}}
                        </div>
                    </div>
                    <div class="flex column-6 justify-end">
                        <div class="mx-2 {{order.status_class}}"></div>
                        <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{order.status_string}}
                        </div>
                    </div>
                </div>
                <div class="card-body flex flex-col p-6">
                    <div class="container flex">
                        <div class="icon w-1/6">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                <path
                                    d="M19.9 6.58c0-.009 0-.019-.006-.027l-2-4A1 1 0 0 0 17 2h-4a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a1 1 0 0 0 1 1h.3c-.03.165-.047.332-.051.5a3.25 3.25 0 1 0 6.5 0A3.173 3.173 0 0 0 7.7 12h4.6c-.03.165-.047.332-.051.5a3.25 3.25 0 1 0 6.5 0 3.177 3.177 0 0 0-.049-.5h.3a1 1 0 0 0 1-1V7a.99.99 0 0 0-.1-.42ZM16.382 4l1 2H13V4h3.382ZM4.5 13.75a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5Zm11 0a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5Z" />
                            </svg>
                        </div>
                        <div class="address w-2/3">
                            <p class="text-sm dark:text-gray-500">Pickup</p>
                            <div class="text-base w-full dark:text-white">
                                {{order.destinations[0].address}}
                            </div>
                        </div>
                        <div class="date w-1/6">
                            <p class="dark:text-gray-500">
                                {{getDate(order.destinations[0].start_date)}}
                            </p>
                            <p class="dark:text-white">
                                {{getHour(order.destinations[0].start_date)}}
                            </p>
                        </div>
                    </div>
                    <div class="container flex">
                        <div class="icon w-1/6">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21">
                                <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2">
                                    <path d="M8 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    <path
                                        d="M13.8 12.938h-.01a7 7 0 1 0-11.465.144h-.016l.141.17c.1.128.2.252.3.372L8 20l5.13-6.248c.193-.209.373-.429.54-.66l.13-.154Z" />
                                </g>
                            </svg>
                        </div>
                        <div class="address w-2/3">
                            <p class="text-sm dark:text-gray-500">Dropoff</p>
                            <div class="text-base w-full dark:text-white">
                                {{order.destinations[1].address}}
                            </div>
                        </div>
                        <div class="date w-1/6">
                            <p class="dark:text-gray-500">
                                {{getDate(order.destinations[1].start_date)}}
                            </p>
                            <p class="dark:text-white">
                                {{getHour(order.destinations[1].start_date)}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="buttons flex justify-between">
                    <div *ngIf="getTime(order.start_date); else elseBlock">
                        <button type="button" [disabled]="true"
                            class="flex focus:outline-none text-zinc-950 bg-zinc-900 font-sm rounded-full text-sm px-5 py-2.5 me-2 dark:text-white">
                            Tiempo restante para recoleción 
                            <p class="dark:text-yellow-300">
                                {{time_left}}
                            </p>
                        </button>
                    </div>
                    <ng-template #elseBlock>
                        <button type="button" (click)="getRouteTracking()"
                            class="flex focus:outline-none text-zinc-950 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-sm rounded-full text-sm px-5 py-2.5 me-2 dark:focus:ring-yellow-900">
                            Seguimiento de Ruta
                        </button>
                    </ng-template>
                    <button [routerLink]="['/orders/'+order._id]" type="button"
                        class="flex focus:outline-none text-zinc-950 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-sm rounded-full text-sm px-5 py-2.5 dark:focus:ring-yellow-900">
                        Resumen
                        <svg class="w-6 h-6 mx-2 text-gray-800 dark:text-zinc-950" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 14">
                            <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                <path d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>