<div class="w-full flex flex-col px-6">
    <div class="w-full mt-4 rounded-3xl mb-16 bo-grad-x-gray-300">
        <div class="card w-full px-6 pt-4 rounded-3xl dark:bg-zinc-900">
            <div class="card-header">
                <p class="dark:text-gray-200">
                    Referencia prueba
                </p>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    prueba
                </h2>
            </div>
            <div class="card-body">
                <cdk-accordion class="example-accordion w-full">
                    @for (item of items; track item; let index = $index) {
                    <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item py-2"
                        role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                            <div class="w-1/6 flex justify-center items-center">
                                <div class="dot-lg dark:bg-yellow-300 flex justify-center items-center"
                                    *ngIf="index === 0; else destinyLogo">
                                    <div
                                        class="dot-md border-2 dark:bg-yellow-300 dark:border-zinc-950 flex justify-center items-center">
                                        <svg class="w-8 h-8 text-gray-800 dark:text-zinc-950 " aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="1.2"
                                                d="M15.5 10.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Zm0 0a2.225 2.225 0 0 0-1.666.75H12m3.5-.75a2.225 2.225 0 0 1 1.666.75H19V7m-7 4V3h5l2 4m-7 4H6.166a2.225 2.225 0 0 0-1.666-.75M12 11V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v9h1.834a2.225 2.225 0 0 1 1.666-.75M19 7h-6m-8.5 3.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
                                        </svg>
                                    </div>
                                </div>
                                <ng-template #destinyLogo>
                                    <div class="dot-lg dark:bg-zinc-600 flex justify-center items-center">
                                        <div
                                            class="dot-md border-2 dark:bg-zinc-600 dark:border-zinc-950 flex justify-center items-center">

                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="w-5/6 flex flex-col border-b">
                                <div class="dark:text-gray-400" *ngIf="index === 0; else dropoff">
                                    Pickup
                                </div>
                                <ng-template #dropoff>
                                    <div class="dark:text-gray-400">
                                        Dropoff
                                    </div>
                                </ng-template>
                                <div class="font-bold text-2xl dark:text-white">
                                    prueba
                                </div>
                                <div class="dark:text-white">
                                    prueba
                                </div>
                                <div class="w-32 py-2 px-4 my-4 rounded-full bg-zinc-800 flex items-center">
                                    <div class="blue-dot-bg"></div>
                                    <p class="text-white">status</p>
                                </div>
                            </div>
                        </div>
                        <div class="example-accordion-item-body text-white bg-zinc-900 py-4 flex justify-end"
                            role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                            <div class="w-5/6">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                                excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
                                veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
                            </div>
                        </div>
                    </cdk-accordion-item>
                    }
                </cdk-accordion>
            </div>
        </div>
    </div>
    <track-order></track-order>
    <cdk-accordion class="block">
        <cdk-accordion-item #pickupData="cdkAccordionItem" class="block" role="button" tabindex="0"
            [attr.id]="'pickup-header-1'" [attr.aria-expanded]="pickupData.expanded"
            [attr.aria-controls]="'accordion-body-1'">
            <div class="my-4 rounded-md bo-grad-x-gray-300">
                <div class="example-accordion-item-header text-white justify-between rounded-md bg-zinc-900 px-6 py-4"
                    (click)="pickupData.toggle()">
                    PickUp Data
                    <span class="example-accordion-item-description arrow">
                        <!-- {{ pickupData.expanded ? "&#94;" : 'open' }} -->
                        <svg class="w-6 h-6 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
                          </svg>
                    </span>
                </div>
            </div>
            <div class="example-accordion-item-body text-white py-4 flex" role="region"
                [style.display]="pickupData.expanded ? '' : 'none'" [attr.id]="'pickup-body-1'"
                [attr.aria-labelledby]="'pickup-header-1'">
                <div class="px-6 mb-8">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                    excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
                    veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
                </div>
            </div>
        </cdk-accordion-item>
    </cdk-accordion>
</div>